<div class="d-flex justify-content-center text-white">
    <div class="form-group h-50 w-50">
        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-secondary text-white" id="inputGroup-sizing-default">Название</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="selectedTesis.head" />
        </div>
        <textarea class="form-control h-75" id="exampleFormControlTextarea1" rows="7" style="height:100%;"  [(ngModel)]="selectedTesis.body"></textarea>
        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-secondary text-white" id="inputGroup-sizing-default">Автор</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="selectedTesis.autor">
        </div>
        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-secondary text-white" id="inputGroup-sizing-default">Место работы</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="selectedTesis.autorWork">
        </div>
        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <span class="input-group-text bg-secondary text-white" id="inputGroup-sizing-default">Соавторы</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="selectedTesis.co_autor">
        </div> 
        <button type="button" class="btn btn-danger" (click)="deleteSelected()" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash center-block" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
            </svg>
            Удалить
            </button>

            <button type="button" class="btn btn-info m-1" (click)="updateTesis()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                  </svg>
                 Обновить тезис</button>    
    </div>
</div>