.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.theses-card {
  background-color: aliceblue;
  color: black;
  width: 100%;
  margin-bottom: 4px;
}

.button {
  margin-right: 5px;
}

.example-spacer {
  flex: 1 1 auto;
}
