<div class="container mt-3">

  <form class="d-flex flex-column" [formGroup]="ThesisForm" (ngSubmit)="submit()">
    <p class="fs-3">Автор</p>
    <div class="row justify-content-evenly">
      <div class="col-3">
        <label>Фамилия</label>
        <input class="form-control" type="text" name="lastName" formControlName="lastName">
      </div>
      <div class="col-3">
        <label>Имя</label>
        <input class="form-control" type="text" name="firstName" formControlName="firstName">
      </div>
      <div class="col-3">
        <label>Отчество</label>
        <input class="form-control" type="text" name="middleName" formControlName="middleName">
      </div>
      <div class="col-3">
        <label>Email</label>
        <input class="form-control" type="email" name="contactEmail" formControlName="contactEmail">
      </div>
    </div>
    <div class="row justify-content-evenly mt-3">
      <div class="col-12">
        <label>Место работы</label>
        <input class="form-control" type="text" name="workplace" formControlName="workplace">
      </div>
    </div>

    <div class="row justify-content-around align-items-center mt-3">
      <div class="col-6">
        <p class="fs-3">Другие авторы</p>
      </div>
      <div class="col-3 offset-3 col-sm-3 offset-sm-3">
        <button type="button" class="btn btn-primary" (click)="addAuthor()">Добавить</button>
      </div>
    </div>
    <div *ngFor="let author of ThesisForm.controls.otherAuthors.controls; let i = index" formArrayName="otherAuthors" class="row justify-content-evenly align-items-end">
      <div class="col-3">
        <label>Фамилия</label>
        <input class="form-control" type="text" name="lastName" [formControl]="author.controls.lastName">
      </div>
      <div class="col-3">
        <label>Имя</label>
        <input class="form-control" type="text" name="firstName" [formControl]="author.controls.firstName">
      </div>
      <div class="col-3">
        <label>Отчество</label>
        <input class="form-control" type="text" name="middleName" [formControl]="author.controls.middleName">
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-danger" (click)="removeElement(i)">Удалить</button>
      </div>
    </div>

    <p class="fs-3">Тезис</p>
    <div class="row justify-content-evenly">
      <div class="col-12">
        <label>Тема</label>
        <input class="form-control" type="text" name="topic" formControlName="topic">
      </div>
    </div>
    <div class="row justify-content-evenly">
      <div class="col-12">
        <label>Содержание</label>
        <textarea class="form-control" type="text" rows="3" name="content" formControlName="content"></textarea>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6 col-sm-4 col-md-2">
        <button class="btn btn-primary w-100" type="submit">{{primaryButtonText}}</button>
      </div>
      <div class="col-6 col-sm-6 col-md-4">
        <button class="btn btn-secondary w-100" type="reset" (click)="resetForm()">Очистить форму</button>
      </div>
    </div>

  </form>
</div>
